<%= form_with(model: booking) do |form| %>
  <% if booking.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid py-5">
    <div class="container py-5">
      <div class="text-center mb-3 pb-3">
        <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">New Booking</h6>      
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="contact-form bg-white" style="padding: 30px;">
            <div id="success"></div>        
              <div class="control-group">
                <%= select(:booking, :destinations, Destination.all.collect { |p| [ p.title, p.id ] }, 
                   {prompt: 'Select one or more destinatioins'} , id: 'choices-multiple-remove-button' , multiple: true) %>                            
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-row">
                <div class="control-group col-sm-6">
                  <%= form.text_field :departure_date ,
                                class: "form-control p-4" , placeholder: "Depart Date", 
                                required: "required"%>  
                  <p class="help-block text-danger"></p>                  
                </div>
                <div class="control-group col-sm-6">
                  <%= form.text_field :return_date ,
                                class: "form-control p-4" , placeholder: "Return Date", 
                                required: "required"%>  
                  <p class="help-block text-danger"></p>                  
                </div>
              </div>
              <div class="form-row">
                <div class="control-group col-sm-6">
                  <%= form.email_field :email ,
                                class: "form-control p-4" , placeholder: "Email", 
                                required: "required", value: Current.user ? 
                                Current.user.email : ""%>  
                  <p class="help-block text-danger"></p>                  
                </div>
                <div class="control-group col-sm-6">
                  <%= form.text_field :phone ,
                                class: "form-control p-4" , placeholder: "Phone", 
                                required: "required", value: Current.user ? 
                                Current.user.profile.phone : ""%>
                  <p class="help-block text-danger"></p>                  
                </div>
              </div>
              <div class="form-row">
                <div class="control-group col-sm-6">
                  <%= form.text_field :no_of_persons ,
                                class: "form-control p-4" , placeholder: "No of Persons", 
                                required: "required"%>  
                  <p class="help-block text-danger"></p>                  
                </div>
                <div class="control-group col-sm-6">
                  <%= form.text_field :stay_nights ,
                                class: "form-control p-4" , placeholder: "No of Stay Nights", 
                                required: "required"%>  
                  <p class="help-block text-danger"></p>                  
                </div>
              </div>
              
              <div class="control-group">
                  <%= form.text_area :detail ,
                                class: "form-control py-3 px-4" , placeholder: "Detail", 
                                required: "required", rows: 5%>                
                <p class="help-block text-danger"></p>
              </div>
              <div class="text-center">
                
                <%= form.submit "Make Booking", class: "btn btn-primary py-3 px-4"%>
              </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
<%end%>