<div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <%= avatars ||=  ['carousel-1.jpg','carousel-2.jpg'] %>        
        <% avatars.map.with_index do |item,index| %>              
          <div class="carousel-item <%= index == 0 ? "active" : "" %>">
            <%if ['carousel-1.jpg','carousel-2.jpg'].include? item%>
              <%= image_tag item ,class: 'w-100',alt: "Image", height: '500' %>
            <% else %>  
              <%= image_tag item.variant(:large) ,class: 'w-100',alt: "Image", height: '500' %>
            <% end %>   
              <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 900px;">
                  <h4 class="text-white text-uppercase mb-md-3">Tours & Travel</h4>
                  <h1 class="display-3 text-white mb-md-4">
                    <%= index == 0 ? "Let's Discover The Pakistan Together" : 
                          "Discover Amazing Places With Us" %> 
                  </h1>
                  
                  <%= link_to "Book Now", "#", class: "btn btn-primary py-md-3 px-md-5 mt-2" %>
                </div>
              </div>
          </div>
      <%= index == 0 ? "</div>" : "" %>
        
        <a class="carousel-control-<%= index == 0 ? "prev" : "next" %>" href="#header-carousel" data-slide="<%= index == 0 ? "prev" : "next" %>">
          <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-<%= index == 0 ? "prev" : "next" %>-icon mb-n2"></span>
          </div>
        </a>
      <% end %>
    </div>
</div>

