  <%= form_with(model: @booking) do |form| %>
  <div class="container-fluid booking mt-5 pb-5">
    <div class="container pb-5">
      <div class="bg-light shadow" style="padding: 30px;">
        <div class="row align-items-center" style="min-height: 60px;">
          <div class="col-md-10">
            <div class="row">            
              <div class="col-md-3">
                <div class="mb-3 mb-md-0">
                  <div class="date" id="date11" data-target-input="nearest"> 

                    <%= select(:booking, :destinations, Destination.all.collect { |p| [ p.title, p.id ] }, 
                               {prompt: 'Select one or more destinatioins'} , id: 'choices-multiple-remove-button' , multiple: true) %>                                     <%= form_with url: search_path,  method: :get, html: { class: "form-inline my-2 my-lg-0" } do |form| %>
                    
                    <% end %>  
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="mb-3 mb-md-0">
                  <div class="date" id="date" data-target-input="nearest"> 
                    <%= form.text_field :departure_date ,
                                        class: "form-control p-4", id: 'booking_departure_date' , 
                                        placeholder: "Depart Date", required: "required"%> 
                  </div>
                </div>
              </div>
              
              <div class="col-md-3">
                <div class="mb-3 mb-md-0">
                  <div class="date" id="date2" data-target-input="nearest"> 
                    <%= form.text_field :return_date ,
                                        class: "form-control p-4", id: 'booking_return_date' ,
                                        placeholder: "Depart Date", required: "required"%> 
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-3 mb-md-0"> 
                <%= form.text_area :detail ,
                                class: "form-control py-3 px-4" , placeholder: "Detail", 
                                required: "required", rows: 2%>                
                 </div>
              </div>
  
            </div>
          </div>
          
        </div>
        <div class="col-md-2"> <button class="btn btn-primary btn-block" type="submit" style="height: 47px; margin-top: -2px;">Submit</button> </div>
      </div>
    </div>
  </div>
<%end%>  

<%= render 'shared/sign_up' unless user_signed_in? %>


<!-- Feature Start -->
<div class="container-fluid pb-5">
  <div class="container pb-5">
    <div class="row">
      <div class="col-md-4">
        <div class="d-flex mb-4 mb-lg-0">
          <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;"> <i class="fa fa-2x fa-money-check-alt text-white"></i> </div>
          <div class="d-flex flex-column">
            <h5 class="">Competitive Pricing</h5>
            <p class="m-0">Magna sit magna dolor duo dolor labore rebum amet elitr est diam sea</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="d-flex mb-4 mb-lg-0">
          <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;"> <i class="fa fa-2x fa-award text-white"></i> </div>
          <div class="d-flex flex-column">
            <h5 class="">Best Services</h5>
            <p class="m-0">Magna sit magna dolor duo dolor labore rebum amet elitr est diam sea</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="d-flex mb-4 mb-lg-0">
          <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;"> <i class="fa fa-2x fa-globe text-white"></i> </div>
          <div class="d-flex flex-column">
            <h5 class="">Worldwide Coverage</h5>
            <p class="m-0">Magna sit magna dolor duo dolor labore rebum amet elitr est diam sea</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- Feature End -->

<!-- Destination Start -->
<div class="container-fluid py-5">
  <div class="container pt-5 pb-3">
    <div class="text-center mb-3 pb-3">
      <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Tours</h6>
      <h1>Explore Top Tours</h1>
    </div> 
    <div class="row">      
      <%= render partial: 'tours/tour', collection: @tours, as: :tour %>  
    </div>
  </div>
</div> <!-- Destination Start -->
<!-- Testimonial Start -->

<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="text-center mb-3 pb-3">
      <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Testimonial</h6>
      <h1>What Say Our Clients</h1>
    </div>
    <div class="owl-carousel testimonial-carousel">
      <div class="text-center pb-4"> <img class="img-fluid mx-auto" src="/assets/testimonial-1.jpg" style="width: 100px; height: 100px;">
        <div class="testimonial-text bg-white p-4 mt-n5">
          <p class="mt-5">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam </p>
          <h5 class="text-truncate">Client Name</h5> <span>Profession</span>
        </div>
      </div>
      <div class="text-center"> <img class="img-fluid mx-auto" src="/assets/testimonial-4.jpg" style="width: 100px; height: 100px;">
        <div class="testimonial-text bg-white p-4 mt-n5">
          <p class="mt-5">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam </p>
          <h5 class="text-truncate">Client Name</h5> <span>Profession</span>
        </div>
      </div>
      <div class="text-center"> <img class="img-fluid mx-auto" src="/assets/testimonial-3.jpg" style="width: 100px; height: 100px;">
        <div class="testimonial-text bg-white p-4 mt-n5">
          <p class="mt-5">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam </p>
          <h5 class="text-truncate">Client Name</h5> <span>Profession</span>
        </div>
      </div>
      <div class="text-center"> <img class="img-fluid mx-auto" src="/assets/testimonial-4.jpg" style="width: 100px; height: 100px;">
        <div class="testimonial-text bg-white p-4 mt-n5">
          <p class="mt-5">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam </p>
          <h5 class="text-truncate">Client Name</h5> <span>Profession</span>
        </div>
      </div>
    </div>
  </div>
</div> <!-- Testimonial End -->
<!-- Blog Start -->
<div class="container-fluid py-5">
  <div class="container pt-5 pb-3">
    <div class="text-center mb-3 pb-3">
      <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Our Blog</h6>
      <h1>Latest From Our Blog</h1>
    </div>
    <div class="row pb-3">
      <div class="col-lg-4 col-md-6 mb-4 pb-2">
        <div class="blog-item">
          <div class="position-relative"> <img class="img-fluid w-100" src="/assets/blog-1.jpg" alt="">
            <div class="blog-date">
              <h6 class="font-weight-bold mb-n1">01</h6> <small class="text-white text-uppercase">Jan</small>
            </div>
          </div>
          <div class="bg-white p-4">
            <div class="d-flex mb-2"> <a class="text-primary text-uppercase text-decoration-none" href="">Admin</a> <span class="text-primary px-2">|</span> <a class="text-primary text-uppercase text-decoration-none" href="">Tours & Travel</a> </div> <a class="h5 m-0 text-decoration-none" href="">Dolor justo sea kasd lorem clita justo diam amet</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 pb-2">
        <div class="blog-item">
          <div class="position-relative"> <img class="img-fluid w-100" src="/assets/blog-2.jpg" alt="">
            <div class="blog-date">
              <h6 class="font-weight-bold mb-n1">01</h6> <small class="text-white text-uppercase">Jan</small>
            </div>
          </div>
          <div class="bg-white p-4">
            <div class="d-flex mb-2"> <a class="text-primary text-uppercase text-decoration-none" href="">Admin</a> <span class="text-primary px-2">|</span> <a class="text-primary text-uppercase text-decoration-none" href="">Tours & Travel</a> </div> <a class="h5 m-0 text-decoration-none" href="">Dolor justo sea kasd lorem clita justo diam amet</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 pb-2">
        <div class="blog-item">
          <div class="position-relative"> <img class="img-fluid w-100" src="/assets/blog-3.jpg" alt="">
            <div class="blog-date">
              <h6 class="font-weight-bold mb-n1">01</h6> <small class="text-white text-uppercase">Jan</small>
            </div>
          </div>
          <div class="bg-white p-4">
            <div class="d-flex mb-2"> <a class="text-primary text-uppercase text-decoration-none" href="">Admin</a> <span class="text-primary px-2">|</span> <a class="text-primary text-uppercase text-decoration-none" href="">Tours & Travel</a> </div> <a class="h5 m-0 text-decoration-none" href="">Dolor justo sea kasd lorem clita justo diam amet</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 