<div id="<%= dom_id tour %>">
  <p>
    <strong>Title:</strong>
    <%= tour.title %>
  </p>

  <p>
    <strong>Detail:</strong>
    <%= tour.detail %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= tour.price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= tour.user_id %>
  </p>

</div>
