<% cache tour do %>
  <div class="col-lg-4 col-md-6 mb-4" id="<%= dom_id tour %>">
    <div class="destination-item position-relative overflow-hidden mb-2">         
      <%= cl_image_tag(tour.avatars[0].key, width: 350, height: 233, crop: :scale) %>
        <%=link_to tour_path(tour),class: "destination-overlay text-white text-decoration-none" do%>
          <h5 class="text-white"><%=tour.title%></h5> <span><%=tour.destinations.size%> Destinations</span>
        <% end %>
    </div>
  </div> 
<% end %>


