<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div
        class="banner_content d-md-flex justify-content-between align-items-center"
        >
        <div class="mb-3 mb-md-0">
          <h2>Cart</h2>
           <p>Very us move be blessed multiply night</p> 
        </div>
        <div class="page_link">
          <a href="index.html">Home</a>
          <a href="cart.html">Cart</a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="cart_area">
  <div class="container">
    <div class="cart_inner">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <%= form_with(model: @cart,url: update_cart_path,method: :post) do |p| %>
              <% @line_items.each do |item|%>
                <%= render partial: 'line_items', locals: {item: item}%>
              <% end %>
            
            
              <tr class="bottom_button">
                <td>                  
                  <%= p.submit "Update Cart", class: "main_btn"%>
                </td>
                <td></td>
                <td></td>                
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>
                  <h5>Subtotal</h5>
                </td>
                <td>
                  <h5 id="total">$<%= @sub_total %></h5>
                </td>
              </tr>
              <tr class="shipping_area">
                <td></td>
                <td></td>
                <td>
                  <h5>Shipping</h5>
                </td>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" value="free" name="flexRadioDefault" id="free" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                      Free Shipping 
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" value="fast" name="flexRadioDefault" id="fast" >
                    <label class="form-check-label" for="flexRadioDefault2">
                      Fast Shipping $5
                    </label>
                  </div>
                </td>               
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>
                  <h5>Total</h5>
                </td>
                <td>
                  <h5>$<%= @sub_total%></h5>
                </td>
              </tr>


              <tr class="out_button_area">
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <div class="checkout_btn_inner">
                    <a class="gray_btn" href="#">Continue Shopping</a>
                    <a class="main_btn" href="#">Proceed to checkout</a>
                  </div>
                </td>
              </tr>

            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>