<div id="<%= dom_id destination %>">
  <p>
    <strong>Title:</strong>
    <%= destination.title %>
  </p>

  <p>
    <strong>Detail:</strong>
    <%= destination.detail %>
  </p>

  <p>
    <strong>Tour:</strong>
    <%= destination.tour_id %>
  </p>

  <p>
    <strong>Stay days:</strong>
    <%= destination.stay_days %>
  </p>

</div>
