<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= product.number %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Quantity in hand:</strong>
    <%= product.quantity_in_hand %>
  </p>

  <p>
    <strong>Detail:</strong>
    <%= product.detail %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= product.size %>
  </p>

</div>
