<% content_for :body do %>
  <div id="icons">
    <%= render 'shared/header'%>
  </div>  
  <div id="flash">
    <%= render 'shared/flash_messages'%> 
  </div>
  <%= render 'shared/slider' if action_name == 'index' && 
                             controller_name == 'home'  %>  
  <%= yield %>
  <%= render 'shared/footer'%>
  
<% end %>

<%= render template: 'layouts/base' %>